{% extends 'base.html.twig' %}

{% block title %}Rutas Domingueras{% endblock %}


{% block body %}


<!-- {{ dump(rutas) }} -->
<!-- carousel -->
<div class="carousel">

    <div class="list">
        {% for ruta in rutas %}
            <div class="item" style="background-image: url('{{ asset(ruta.firstImage) }}');">
                <div class="content">
                    <div class="title">{{ ruta.name }}</div>
                    <div class="name">{{ ruta.dateruta|date('d-m-Y') }}</div>
                    <div class="des">{{ ruta.description }}</div>
                    <div class="btn">
                        <button>SEE MORE</button>
                        
                    </div>
                </div>
            </div>
        {% endfor %}
    
    </div>

    <!--next prev button-->
    <div class="arrows">
        <button class="prev"><</button>
        <button class="next">></button>
    </div>


    <!-- time running -->
    <div class="timeRunning"></div>

</div>


{% endblock %}
