{% extends 'base.html.twig' %}

{% block title %}Lista de Rutas{% endblock %}

{% block body %}
    <div class="administration">
        <h1>Ruta index</h1>
        <hr>
        <a class="btn btn-primary" href="{{ path('app_ruta_new') }}"><i class="bi bi-folder-plus"></i></a>
        <hr>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Date_ruta</th>
                    <th>Description</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for ruta in rutas %}
                <tr>
                    <td>{{ ruta.id }}</td>
                    <td>{{ ruta.name }}</td>
                    <td>{{ ruta.dateRuta ? ruta.dateRuta|date('Y-m-d') : '' }}</td>
                    <td>{{ ruta.description|slice(0, 150) ~ '...' }}</td>

                    <td>
                        <a class="btn btn-success" href="{{ path('app_ruta_show', {'id': ruta.id}) }}"><i class="bi bi-eye"></i></a>
                        <a class="btn btn-primary" href="{{ path('app_ruta_edit', {'id': ruta.id}) }}"><i class="bi bi-pencil-square"></i></a>
                        <form method="post" action="{{ path('app_ruta_delete', {'id': ruta.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');" style="display:inline;">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ruta.id) }}">
                            <button type="submit" class="btn btn-danger"><i class="bi bi-trash"></i></button>
                        </form>
                        
                        
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        
    </div>
    
{% endblock %}
